.favoritelistitem {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  border-top: 4px solid var(--black);
  border-bottom: 4px solid var(--greydark);
}

.favoriteitem {
  padding: 2rem;
  font-weight: bold;
  flex: 1;
}

.favoriteitem:hover {
  text-decoration: underline;
}

.deletebutton {
  display: flex;
  padding: 2rem;
  align-items: center;
  background: none;
  border: none;
  outline: none;
}

.deletebutton:focus {
  outline: none;
}